nav.block--menu-menu-a-z-menu > ul.menu
{
  float: left;
  list-style: none;
  margin:0 0 20px 0;
  padding:0;

  li
  {
  	float: left;
  	display: inline;
  	margin: 0.4em 0.2em 0 0;


  	a
  	{
      @include transition(background-color, 0.8s);
  		font-family: open_sansbold;
  		margin: 0;
  		padding: 0.4em 1em;
  		background-color: #ECEEED;

  	}

  	a:hover, a:focus, a.active
  	{
      @include transition(background-color, 0.4s);
  		display: inline;
  		background-color: $mainColourLevel1;
  		color: #FFF;
  	}
  }

}

div.view-glossary-cs
{
	clear: both;
}