

.menu-block-wrapper.menu-name-main-menu{
	border-left:thin solid $primary;

	ul.menu{
		padding: 0 10px;

		li{
			list-style-type:none;
			list-style-image:none;
			padding:6px 0;
			border-bottom:thin dotted $border;
			border-top:thin dotted $siteBackgroundColour;
			cursor:pointer;

			&.active:before{
				color:$primary;
				content: "\f0da";
				font-family: FontAwesome;
				margin-left: -10px;
				margin-right:5px;
			}


			&.active{

				&:hover{
					border-bottom:thin solid $primary;
					border-top:thin solid $primary;					
				}
				
				border-bottom:thin solid $primary;
				border-top:thin solid $primary;
				/*list-style-image: url("../images/menu/menu-active.png");*/
				a{
					font-weight:bold;
				}
			}			

			&:hover{
				border-bottom:thin dotted $primary;
				border-top:thin dotted $primary;
				a{
					color:black;
				}
			}


		}
	}
}