@import "singularitygs";

$grids: 8 4;
$gutters: 5em;

.home-left-col {
  @include grid-span(1, 1);
  clear:both;
}
.home-right-col
{
  @include grid-span(1, 2);
  width:30.2%;
  padding-right:0;
}

.home-full-col{
	width:100%;
	clear:both;
}

.l-region--home-news{
  display:block;
}