@mixin transition($prop, $time){
	-ms-transition: $prop $time;
	-webkit-transition: $prop $time;
	-moz-transition: $prop $time;
	transition: $prop $time;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
}

@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
   -webkit-border-top-left-radius: $radius;
   border-top-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
     -webkit-border-top-right-radius: $radius;
     border-top-right-radius: $radius;
     background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
   -webkit-border-bottom-left-radius: $radius;
   border-bottom-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
     -webkit-border-top-left-radius: $radius;
     border-top-left-radius: $radius;
     background-clip: padding-box;
}
@mixin box-shadow($xOffset:2px, $yOffset:2px, $blurRadius:5px, $spreadRadius:2px, $color:#000) {
  -moz-box-shadow:    $xOffset $yOffset $blurRadius $spreadRadius $color;
  -webkit-box-shadow: $xOffset $yOffset $blurRadius $spreadRadius $color;
  box-shadow:         $xOffset $yOffset $blurRadius $spreadRadius $color;
}

@mixin button-muted()
{
  border: thin solid $border;
  background-color: $siteBackgroundColour;
  color:$linkColour;
  padding:5px 8px;

  @include transition(background-color, 0.2s);

  &:hover{
    border: thin solid $primary;
    background-color: lighten($border, 5%);
    @include transition(background-color, 0.5s);
  }

  &:active{
    background-color: darken($border, 5%);
  }
}

@mixin button-primary()
{
  color: #ffffff;
  padding:5px 8px;
  background-color: $mainColourLevel1;
  border: thin solid $mainColourLevel2;
  @include transition(background-color, 0.5s);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;

  &:hover{
    background-color:darken($mainColourLevel1, 8%);
  }
  &:active{
    background-color:darken($mainColourLevel1, 20%);
  }
}


@mixin button-danger{
  border: thin solid #FF6B6B;
  background-color: #FD3D3D;
  padding:5px 8px;
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;      

  &:hover{
    border-color:thin solid #953131;
    background-color: red;
  }
}

@mixin launch-button{
  border: 0 solid #CCCCCC;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 100%;
  min-width: 400px;
  overflow: hidden;
  padding: 0;
  text-align: center;
  width: 100%;

  a{
    background:url("/sites/default/files/orange_button_small.png") no-repeat top right;
    display: block;
    float: left;
    font-size: 1.2em;
    height: 50px;
    padding-right: 40px;
    text-decoration: none;

    &:hover{
      background-position: right -50px;
      text-decoration: none !important;      
    }

    &:hover span{
      background-position: 0 -50px;
      color: #FFFFFF;
      text-decoration: none !important;
    }

    span{
      background:url("/sites/default/files/orange_button_large.png") no-repeat;
      color: #FFFFFF;
      display: block;
      line-height: 50px;
      padding: 0 0 0 25px;
    }
  }
}

@mixin reset{
  margin:0;
  padding:0;
}