body{
  padding:0;
}

.l-region--topbar{
  width:100%;
  min-width:960px;
  float:none;

  .l-container{
    .view-profile{
      display:block;
    }
  }
}

.l-container {
  width: 960px;
  margin: 0 auto;
}