@import "../../variables/_colors.scss";

.l-page{
	padding-top:30px;

	.l-content{
		width: 450px;
		margin:0 auto;
		padding:25px;
		border: thin solid $border;

		form{
			margin-top:10px;
		}
	}
}