@import "singularitygs";

$grids: 8 4;
$gutters: 5em;

.l-content {
  @include grid-span(1, 1);
  clear:both;
}
.standard2col-right-col
{
  @include grid-span(1, 2);
  width:30.2%;
  padding-right:0;
}