.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  display: none;
  float: left;
  width: 300px;
  padding: 5px 0;
  margin: 0;
  list-style: none;
  font-size: 10px;
  background-color: $alertsDropDownBackgroundColour;
  background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999999;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-menu-right {
  left: auto;
  right: 0;
}
.dropdown-menu-left {
  left: 0;
  right: auto;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #999999;
}
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}

.alert-link
{
  background-color: #FE0000;
  padding: 8px 0;
  text-align: center;
  overflow: hidden;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  height:32px;
  width:55px;
}

.alert-link.empty
{
  background-color: green;
}

.dropdown-alerts 
{
  margin: 0;
  padding: 0;
}

.dropdown-alerts > li
{
  width: 100%;
  border-bottom: 1px solid #fff;
  float: left;
  clear: both;
}

.dropdown-alerts > li a
{
  margin: 0;
  padding: 0;
}

.dropdown-alerts > li > div.views-field-title
{
    float: left;
    padding: 5px;
}

.dropdown-alerts > li > div.views-field-ops
{
    float: right;
    padding: 5px;
}

a.view-profile 
{
    background-color: #87888A;
    color: #fff;
    padding: 8px 25px 7px 25px;
    height:32px;
}

.top-bar-text
{
  padding: 8px;
}



div.view-alerts
{
  div.view-header{
    display: none;
  }
  
}


.dropdown-menu.dropdown-alerts{
  border-left:2px solid $mainColourLevel2;
  border-right:2px solid $mainColourLevel2;
  border-bottom:1px solid $mainColourLevel2;

  @include box-shadow(5px, 8px, 15px, 1px);

  li{
    padding:8px 5px;
    border-top: thin solid darken($border, 3%);
    @include transition(background-color, 0.2s);

    &:hover{
      background-color: lighten($border, 2%);
      @include transition(background-color, 0.6s);
    }


    .views-field-picture{
      margin-right:5px;
      float:left;
      img{
        height:50px;
        width:50px;      
      }
    }

    .views-field-timestamp{
      color: $mainColourLevel2;
      padding:0 8px;
      font-size:1.1em;
      float:right;
    }

    .views-field-name a{
      color: $primary;
      font-family: open_sanssemibold;
      font-size:1.3em;
    }

    .views-field-message-render{
      font-family:open_sanslight;
      font-size:1.2em;
      margin-bottom:5px;

      p{
        margin:0;padding:0;
      }
    }

    .views-field-field-message-icon{
      display:none;
      float:right;
    }

    .views-field.views-field-ops a{
      @include button-muted();
    }

  }
}






/** Swing when you've got alerts **/
.view-alerts{
  a.dropdown-toggle{
    i.fa-bell{
     animation: 4s ease 0s normal none infinite swing;
     transform-origin: center top;

     -webkit-animation: 4s ease 0s normal none infinite swing;
     -webkit-transform-origin: center top;

     -moz-animation: 4s ease 0s normal none infinite swing;
     -moz-transform-origin: center top;     

     -o-animation: 4s ease 0s normal none infinite swing;
     -o-transform-origin: center top;

     font-size:1.2em;

    }
  }
}

@keyframes swing{
  0% {
   transform: rotate(10deg);
  }
  50% {
   transform: rotate(-10deg);
  }
  100%{
   transform: rotate(10deg);
  }
}

@-moz-keyframes swing {
 0% {
   -moz-transform: rotate(10deg);
 }
 50% {
   -moz-transform: rotate(-10deg);
 }
100%{
   -moz-transform: rotate(10deg);
 }
}

@-webkit-keyframes swing{
  0% {
   -webkit-transform: rotate(10deg);
  }
  50% {
   -webkit-transform: rotate(-10deg);
  }
  100%{
   -webkit-transform: rotate(10deg);
  }
}

@-o-keyframes swing{
  0% {
   -o-transform: rotate(10deg);
  }
  50% {
   -o-transform: rotate(-10deg);
  }
  100%{
   -o-transform: rotate(10deg);
  }
}



.l-region--topbar {
  width:100%;
  min-height:28px;
  float: left;

  .user-info-wrapper{
    background-color: $topBarBackgroundColour;
    float:right;
    height:32px;
    min-width:33.3333%;

    .top-bar-widgets{
      width:225px;
    }
  }

 .user-info-wrapper-toggle{
  height:32px;
  padding-top:3px;
  width:30px;
  color:#FFF;
  text-align:center;
  cursor:pointer;
  display:none;
 }

 @media screen and (min-width:960px){

  .user-info-wrapper{
    min-width:33.3333%;

    .user-info-wrapper-toggle{
      display:none !important;
    }

    .view-profile{
      display:block;
    }

  }
}

@media screen and (max-width: 960px){
  .user-info-wrapper{
    position: absolute;
    top:-35px;
    right:0;
    width:100%;
    position:fixed;
    z-index:2000;

    .top-bar-widgets{
      width:260px;
    }

  }

  .user-info-wrapper-toggle{
    display:block;
    position:absolute;
    top:35px;
    right:0;
    background-color:$primary;

    &.inline{
      position:inherit;
    }
  }
}

@media screen and (max-width: 600px){
  .user-info-wrapper{
    .top-bar-widgets{
      width:120px;
    }

    .view-profile{
      display:none;
    }
  }
}
}