div.view-alerts-history
{
  font-size: 12px;
  font-family: open_sanssemibold;

  p
  {
    margin: 0;
    padding: 0;
  }

  div.views-row
  {
    float: left;
    clear: both;
    width: 100%;
    border-bottom: 1px solid $alertsHistoryBorderColour;
    margin-bottom: 10px;
  }

  div.views-field-picture
  {
    float: left;

    div.field-content
    {
      padding: 6px;

      img
      {
          display: block;
      }
    }

  }

  div.views-field-nothing
  {
    padding-left:48px;

    div.views-field-timestamp
    {
      color: $mainColourLevel2;
      font-size: 10px;
    }
    div.views-field-message-render{
      font-family:open_sansregular;
    }

    a
    {
      color: $mainColourLevel1;
    }

  }

  div.more-link{
    a{
      @include button-muted();
      font-family:open_sansregular;
    }
  }
}

/** We need to override the appearance slightly if this is being viewed
    from the 'profile' page e.g. /user **/
.standard2col-right-col
{
  .view-alerts-history
  {
    .views-field-nothing
    {
      margin-left:5px;
      width:85%;
    }

  }
}