.view-calendar{
	.date-nav-wrapper{
		.date-nav{
			border: thin solid $primary;
			padding:3px;

			ul.pager{
				list-style:none;

				li{
					@include button-muted();

					&.date-prev{
						right:75px;
					}
				}
			}
		}
	}
}