ul.tabs--primary 
{
  border-bottom: 2px solid $mainColourLevel1;
  list-style: none;
  display: block;
  margin: 0px;
  width: 100%;
  padding: 0;
  border-top: 2px solid #ECEEED;


  li
  {
  	float: left;
  	margin: 0;
    
  	a 
  	{
  	  margin-right: 2px;
  	  line-height: 1.42857143;
  	  font-size: 1.167em;
  	  color: #C1C1C1;
  	  font-family: open_sansbold;
  	  background-color: #fff;
    	}
    	a:hover, a:focus
    	{
  		text-decoration: none;
  		background-color: #fff;
  		color: $titleColour;
  		cursor: pointer;
  	}


  }

  li.active
  {
  	a, a:hover, a:focus 
  	{
  	  text-decoration: none;
  	  background-color: #fff;
  	  color: $titleColour;
  	  cursor: pointer;
  	}
  }

}