
@import "singularitygs";

$grids: 24;
$gutters: 1/3;

div.view-landing-page-icons
{
	@include grid-span(24, 1);

	ul
	{
		list-style: none;
		padding: 0;
		margin: 0;

		li
		{
			@include grid-span(24, 1);
			min-height: 150px;

			>div{
				&:hover{
					background-color:#ffcaa6;
					@include transition(background-color, 0.1s);
				}
				min-height:80px;
				padding: 8px 8px;
				@include border-radius(5px);
				@include transition(background-color, 0.4s);

			}
		}
	}
	a > div.landing-page-icon
	{
		display: block;
		float: left;
		padding-right: 20px;
	}

	a > div.landing-page-text-wrapper
	{
		h3{
			margin:0;
			padding:0;
		}

		p{
			margin-top:0.2em;
		}

		padding: 0 10px;
		overflow: hidden;
	}
}

.block--views-landing-page-more-block{


	.item-list{
		ul{
			list-style:none;
			padding:0;
			margin:0;

			li{
				display:inline;
				padding:0;
				margin:0;



				>div{
					display:inline;
					span a:hover{
						text-decoration: underline;
					}
				}

				&:before{
					content: "| ";
				}
				&:first-child:before{
					content: "";
				}
			}
		}
	}
}


@media screen and (min-width: 600px){
	@import "partials/_landingpage.mediumScreen";
}

@media screen and (min-width: 960px){
	@import "partials/_landingpage.largeScreen"
}