/** Terms & Conditions **/
.section-termsandconditions{
  .l-content{
    a{
      color: $mainColourLevel1;
    }    
  }

}

/** Marketplace **/
.view-marketplace{
  table{
      border-collapse: collapse;
      cursor:default;
      width:100%;

      th {
        border-bottom: 3px solid $primary;
        background-color: $siteBackgroundColour;
        padding: 5px;
        font-size:1.2em;

        a.active{
          color:$linkColour;
        }

      }
      tbody {
        tr {
          border-top: thin solid darken($border, 10%);
          cursor:pointer;

          &:hover td{
            background-color: mix($border, $primary, 60) !important;
          }

          &:first-child {
            border-top: none;
          }

          &.odd, &.odd td.active {
            background-color: lighten($border, 5%);
          }

          &.even, &.even td.active {
            background-color: $siteBackgroundColour;
          }

          td {
            padding: 10px 5px;


            &.views-field-field-cost{
              color:$primary;
              font-size:1.1em;
            }

            &.views-field-field-category-sale{
              color:lighten($linkColour, 30);
            }
          }

        }
      }
    }
  }


.node--marketplace-for-sale--full{
  .field--name-field-image-sale{
    .field__item{
      float:left;
      margin:20px 20px 10px 0;
      height:100px;
      overflow:hidden;
      padding-top:10px;
      border:thin solid $border;


      &:hover{
        border:thin solid $primary;
      }
    }
  }
}