form.poll-view-voting{
	.poll-vote-form{
		text-align:left;

		.poll-vote-form__choices{
			margin:0;
		}
	}
}


div.poll-bars__bar{
	background-color:$border;
	@include border-radius(4px);
	height:15px;
	overflow:hidden;

	div.foreground{
		background-color:$mainColourLevel1;
		height:100%;
	}
}