.l-region--topsearch {
  color: #FFF;
  clear:both;
  @include background-image(linear-gradient($gradientTop, $gradientBottom));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FE6732', endColorstr='#FF9702', GradientType=0); /* IE6-8 */

  .block--search-form{
    margin-bottom: 0px;


    .search-bar {
      .search-form {
          input[type='submit'] {
            padding: 5px;
          }

          input[type='text'] {
            font-size: 18px;
            line-height: 18px;

          &.form-autocomplete {
            background-image:none;
          }
        }
      }
    }
  }
}
.contextual-search-form{
  padding:5px 0;

  .form-text{
    font-size:1.2em;
  }

  .form-submit{
    margin-top:-2px;
  }

}

section.search-results{
  article.search-result{
    p.search-result__snippet{
      padding-left:0;
    }

    >footer, >footer a{
      color:$mainColourLevel1;
    }
  }
}

div.spelling-suggestions{
  dt{
    display:inline;
    margin-right: 0.3em;
  }

  dd{
    @include reset();
    display:inline;
    font-style:italic;
  }
}

@import "partials/search.smallScreen";

@media screen and (min-width: 960px){
  @import "partials/search.largeScreen";
}