.search-results 
{	
	article.user-profile
	{
		> div
		{
			float: right;
			width: 75%;
		}

		div.user-picture
		{
			width: 20%;
			padding: 0;
			margin-right: 10px;
			float: left;
		}

		div.field--type-taxonomy-term-reference
		{
			clear:both;
			width: 100%;
			padding: 0;
		}

		div.field--name-field-service-unit, div.field--name-field-site, 
		div.field--name-field-location, section.user-profile-category-actions
		{
			display: none;
		}


	}

	article.search-result 
	{
		float: left;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #ECEEED;
		clear: both;
		width: 100%;
	}

}

