/* Staff blogs block */
.view-blog-authors-new{
	.views-row{
		margin-bottom:10px;
		border-bottom:1px solid $mainColourLevel2;
		background-color: $profileBackground;
		padding: 8px 0 8px 5px;

		.views-field-picture{
			float:left;
			padding-top:3px;
		}

		.views-field-name-1{
			padding-left:40px;
			font-family:open_sanslight;
			font-size:1.3em;
			a{
				color: $mainColourLevel1;
			}
		}

		.views-field-ops{
			padding-left:40px;
			font-family:open_sanslight;
		}

		.flag-throbber{
			display:none;
		}
	}
}