.section-user
{
	article.user-profile
	{
		padding: 10px;
		background-color: $profileBackground;
		margin-bottom: 10px;
		float: left;
		width: 100%;


		.field--name-field-display-name
		{
			color: $mainColourLevel1;
			font-size: 28px;
			font-family: open_sanslight;
		}

		.flag-outer-follow-users{
			font-family:open_sanslight;
			display:inline;

			i{
				font-family: FontAwesome;
				font-size:1.5em;
				color:$mainColourLevel2;
				vertical-align:text-bottom;
			}

		}


		.user-picture
		{
			float: right;
		}

		.field, .flag-outer, section
		{
			padding: 5px 0px;
		}

	}

	h1
	{
		display:none;
	}
}


/** User status's block - should probably shift this into it's own partial.. **/
.block--statuses{

	.fbss-comments-textarea, .statuses-text-main{
		font-family: open_sanslight;
		font-size:1.2em;
	}

	input.statuses-submit, input.fbss-comments-submit{
		margin: 5px 0 0 0;
		padding:5px 15px;

		&:after{
			font-family: FontAwesome;
			content: "\f00d \f045";
		}
	}

	.flag-status-comment-like{
		span{
			white-space:nowrap;
		}
	}
	.flag-status-like, .flag-status-comment-like{
		i.fa-thumbs-o-up{
			font-size:1.2em;
		}

		&:hover{
			i.fa-thumbs-o-up{
				transform: rotate(-13deg);
				-webkit-transform: rotate(-13deg);
				-o-transform: rotate(-13deg);
				-moz-transform: rotate(-13deg);
			}
		}

	}

	.view-content
	{
		>table{
			width:100%;

			tr.odd, tr.even{
				background-color: #FFF;
			}

			tr{
				&.odd, &.even{
					background-color:#FFF;
				}

				&.views-row-first{
					td{
						>div{
							border-top:3px solid $primary;
						}
					}
				}

				td{
					>div{

						div.statuses-sender-picture{
							img{
								width:50px;
								height:50px;
							}
						}

						margin-top:20px;
						padding-top:10px;
						border-top:thin dotted $primary;

						.statuses-links span a, a.statuses-repost{
							@include button-muted();
						}

						.statuses-edit a:before{
					        font-family: FontAwesome;
					        content: "\f044 \00a0";
						}
						.statuses-delete a:before{
							font-family: FontAwesome;
							content: "\f00d \00a0";
						}
						.statuses-repost{
							display:none;

							&:before{
								font-family: FontAwesome;
								content: "\f045 \00a0";
							}
						}

						// Users name on main post title..
						div.statuses-participants{
							span.statuses-sender{
								a.username{
									font-size:1.5em;
									color: $mainColourLevel1;
								}
							}
						}

						span.statuses-content{
							font-family: open_sanslight;
							font-size:1.4em;
						}

						// Status details - post time & contextual options
						div.statuses-details{
							margin-top:10px;
							font-family: open_sanslight;
						}

						// Status comments
						div.statuses-comments{
							// Wrapper around all comments for this post
							margin-top:1.5em;

							.fbss-comments{
								// Wrapper around this comment
								.fbss-comments-comment{
									&.even{
										background-color: lighten($border, 2%);
									}

									.fbss-comments-picture{
										img{
											height:45px;
											width:45px;
											margin-top:3px;
										}
									}
									// comment container
									.content{
										.fbss-comments-author{
											a{
												color: $mainColourLevel2;
												font-size:1.2em;
											}
										}
										.fbss-comments-text{
											font-family: open_sanslight;
											font-size:1.3em;
											margin-top:0;

										}
										.fbss-comments-closure{
											margin-top:8px;
											font-family: open_sanslight;

											ul.fbss-comments-links{
												list-style:none;
												padding:0;
												margin:0;

												li{
													display:inline;
													padding:0;
													margin:0;

													a:hover{
														text-decoration:none;
													}

													&:before{
														content: " | ";
													}
													&:first-child:before{
														content: "";
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}

			} /// tr
		} /// table
	}
}



