@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/sites\/all\/themes\/intranet\/sass\/layouts\/global\/_global\.largeScreen\.scss}line{font-family:\000031}}
body {
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/sites\/all\/themes\/intranet\/sass\/layouts\/global\/_global\.largeScreen\.scss}line{font-family:\000035}}
.l-region--topbar {
  width: 100%;
  min-width: 960px;
  float: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/sites\/all\/themes\/intranet\/sass\/layouts\/global\/_global\.largeScreen\.scss}line{font-family:\0000311}}
  .l-region--topbar .l-container .view-profile {
    display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/sites\/all\/themes\/intranet\/sass\/layouts\/global\/_global\.largeScreen\.scss}line{font-family:\0000317}}
.l-container {
  width: 960px;
  margin: 0 auto; }
