// Colors:
$lightGrey: #ECEEED;
$darkGrey: #BEC0C0;
$corporateBlue: #00539F;


// Usages
$link: #c0392b;
$profileBackground: $lightGrey;


$gradientTop: #FE6732;

$gradientBottom: #FF9702;

$mainColourLevel1: #FF6634;

$mainColourLevel2: #FD9A00;

$siteBackgroundColour: #FFF;

$topBarBackgroundColour: $lightGrey;

$titleColour: #3E3E40;

$linkColour: #3E3E40;

$spotlightMenuBackgroundColour: $lightGrey;

$newsSummaryBackgroundColour: $lightGrey;

$blockTitleBorderColour: $lightGrey;

$alertsHistoryBorderColour: $lightGrey;

$topTasks: #FE9900;

$myTopTasks: #FF6634;

$alertsDropDownBackgroundColour: $siteBackgroundColour;

$tagBackgroundColour: #87888A;

$articleImageBorder: $lightGrey;

$intranetMessage: $lightGrey;
$intranetMessageHover: $darkGrey;

$border: $lightGrey;
$primary: #FF6634;



