// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**";
@import "views/**/*";
@import "menus/**/*";
@import "regions/**/*";

body {
	background: $siteBackgroundColour;
	color: #3E3E40;
}

a {
  color: $linkColour;
}

article .field a, .forum-post-panel-main a{
  color:$mainColourLevel1;
}

.site-logo img {
	padding: 6px 0 3px 0;
}


.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}

.passive-hidden{
  display:none;
}

.cursor-pointer{
  cursor:pointer;
}

.block
{
  clear: both;
  margin-bottom: 10px;
}



.breadcrumb
{
  margin-bottom: 10px;

  a.active
  {
    display: inline;
  }
}


div.node__content .field--name-body a:hover
{
  text-decoration: underline;
}

article.node--article--full div.node__content .field--name-field-image
{
  float: left;
  border:2px solid $articleImageBorder;
  margin: 0px 10px 10px 0;
}

.field--type-taxonomy-term-reference, .field--type-link-field
{
  clear: both;
  overflow: auto;
  margin: 10px 0 10px 0;
}

ul.node__links
{
  margin: 10px 0 10px 0;
  clear: both;
  overflow: auto;

  .print_html, .print_mail, .print_pdf
  {
    margin-left: 0;
  }

}


/** Hide statistics counter reads **/
li.statistics_counter{
  display:none;
}

/** Can't find what you're looking for button */
a.feedback-block{
  @include button-primary();
  font-family: open_sanslight;
}


/** Content type icons on avatar pic **/
ul.dropdown-menu.dropdown-alerts, div.view-alerts-history{
  div.views-field-picture
  {
    div.field-content
    {
      position:relative;

      .fa{
        position: absolute;
        bottom: -3px;
        font-size:1.2em;
        color:$siteBackgroundColour;
        background-color: $mainColourLevel2;
        min-width: 22px;
        left:-2px;
        text-align: center;
        padding:4px 0;

      }
    }
  }
}

/* Alerts */
.intranet-message{
  padding: 9px;
  background-position: 8px 12px;
  background-repeat: no-repeat;
  display:block;


  ul{
    @include reset;
    list-style-type: none;
    padding:0 0 0 40px;

    li{
      margin-bottom:3px;

      &.last{
        margin-bottom:0;
      }
    }
  }
  h4{
    @include reset;
  }
}

/* Flags throbber Override */
.flag-waiting .flag-throbber {
    background: url("../images/ajax-loader.gif") no-repeat !important;
}



// Full Column is applied to the templates where the column width is 100%
// This should allow horizontal rules etc to easily be applied
.full-column
{
    .block.block--views.block--views-landing-page-icons-block{
        border-top: 2px solid $border;
        padding-top: 10px;
        overflow:hidden;
        margin-top:10px;
    }
}