@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/sites\/all\/themes\/intranet\/sass\/layouts\/basic-centred\/basic-centred\.layout\.scss}line{font-family:\000033}}
.l-page {
  padding-top: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/sites\/all\/themes\/intranet\/sass\/layouts\/basic-centred\/basic-centred\.layout\.scss}line{font-family:\000036}}
  .l-page .l-content {
    width: 450px;
    margin: 0 auto;
    padding: 25px;
    border: thin solid #eceeed; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/sites\/all\/themes\/intranet\/sass\/layouts\/basic-centred\/basic-centred\.layout\.scss}line{font-family:\0000312}}
    .l-page .l-content form {
      margin-top: 10px; }
